body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  min-height: 100vh;
}

textarea {
  margin-top: 1rem 0;
  background-color: #12141a;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 1rem;
}
